### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [2]:
total_players_df = purchase_df.groupby(['SN'])
total_players = len(total_players_df["Purchase ID"].count())

totplayer_summary_df = pd.DataFrame({"Total Players":[total_players]})
totplayer_summary_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# identify the number of unique items
unique_items_df = purchase_df.groupby(['Item Name'])
unique_items = len(unique_items_df["Item ID"].count())

# average price
average_price = round(purchase_df["Price"].mean(),2)

# to identify the no of items purchased
total_purchase = purchase_df["Purchase ID"].count()

# total revenue
total_revenue = purchase_df["Price"].sum()

# Creating a DataFrame to display the Purchasing Analysis (Total)
purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Price": "$"+str(average_price),
                           "Number of Purchases":[total_purchase],
                           "Total Revenue": "$"+str(total_revenue)
                          }
                        )
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Total unique players were identified in variable data frame total_players

#gender_df = purchase_df[["Purchase ID","SN","Gender"]]
#gender_df.head(10)

#----------------MALE PLAYER LOGIC-------------------------------------
# Total Male players Dataframe
male_player_df = purchase_df.loc[purchase_df["Gender"] == "Male",:]

# identify unique male players
unique_male_df = male_player_df.groupby(['SN'])
unique_male_players = len(unique_male_df["Purchase ID"].count())

# identify the male player percentage
pct_male_player = round((unique_male_players / total_players) * 100,2)
#------------MALE PLAYER LOGIC END------------------------------------


#----------------FEMALE PLAYER LOGIC-------------------------------------
# Total Male players Dataframe
female_player_df = purchase_df.loc[purchase_df["Gender"] == "Female",:]

# identify unique male players
unique_female_df = female_player_df.groupby(['SN'])
unique_female_players = len(unique_female_df["Purchase ID"].count())

# identify the male player percentage
pct_female_player = round((unique_female_players / total_players) * 100,2)
#------------FEMALE PLAYER LOGIC END------------------------------------


#----------------OTHER PLAYER LOGIC-------------------------------------
# Total Male players Dataframe
other_player_df = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed",:]

# identify unique male players
unique_other_df = other_player_df.groupby(['SN'])
unique_other_players = len(unique_other_df["Purchase ID"].count())

# identify the male player percentage
pct_other_player = round((unique_other_players / total_players) * 100,2)
#------------OTHER PLAYER LOGIC END------------------------------------

# Creating a DataFrame to display the Purchasing Analysis (Total)
gender_demo_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                               "Total Count": [unique_male_players, unique_female_players, unique_other_players],
                               "Total Revenue": [str(pct_male_player) +"%", str(pct_female_player) +"%", str(pct_other_player) +"%"]})                     

reset_index_df = gender_demo_df.set_index('Gender')
reset_index_df

                       Total Count Total Revenue
Gender
Male                           484        84.03%
Female                          81        14.06%
Other / Non-Disclosed           11         1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Purchase Count based on Gender (all entries), Average Purchase Price based on Gender (all entries)
# Total Purchase Value (all entries), Average Total purchase per person (unique)
# we already have no.of purchase (total_purchase), Total revenue (total_revenue), 
# unique Gender counts (unique_male_players, unique_female_players, unique_other_players)

#----------------FEMALE PLAYER LOGIC-------------------------------------
# logic for total purchase count
female_purchase_df = purchase_df.loc[purchase_df["Gender"] == "Female",:]
female_purchase_count_df = female_purchase_df.groupby(["Purchase ID"])
female_purchase_count = len(female_purchase_count_df["SN"].count())

# Logic for Total purchase in dollar
female_tot_purchase_df = purchase_df.loc[purchase_df["Gender"] == "Female",:]
female_total_purchase_df = female_tot_purchase_df.groupby(["Gender"])
female_total_purchase = female_tot_purchase_df["Price"].sum()

# logic to identify average purchase price and average purchase per person
female_avg_purchase = round((female_total_purchase / female_purchase_count), 2)
female_avg_per_person = round((female_total_purchase / unique_female_players), 2)
#------------FEMALE PLAYER LOGIC END------------------------------------


#----------------MALE PLAYER LOGIC-------------------------------------
# logic for total purchase count
male_purchase_df = purchase_df.loc[purchase_df["Gender"] == "Male",:]
male_purchase_count_df = male_purchase_df.groupby(["Purchase ID"])
male_purchase_count = len(male_purchase_count_df["SN"].count())

# Logic for Total purchase in dollar
male_tot_purchase_df = purchase_df.loc[purchase_df["Gender"] == "Male",:]
male_total_purchase_df = male_tot_purchase_df.groupby(["Gender"])
male_total_purchase = male_tot_purchase_df["Price"].sum()

# logic to identify average purchase price and average purchase per person
male_avg_purchase = round((male_total_purchase / male_purchase_count), 2)
male_avg_per_person = round((male_total_purchase / unique_male_players), 2)
#------------MALE PLAYER LOGIC END------------------------------------


#----------------OTHER PLAYER LOGIC-------------------------------------
# logic for total purchase count
other_purchase_df = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed",:]
other_purchase_count_df = other_purchase_df.groupby(["Purchase ID"])
other_purchase_count = len(other_purchase_count_df["SN"].count())

# Logic for Total purchase in dollar
other_tot_purchase_df = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed",:]
other_total_purchase_df = other_tot_purchase_df.groupby(["Gender"])
other_total_purchase = other_tot_purchase_df["Price"].sum()

# logic to identify average purchase price and average purchase per person
other_avg_purchase = round((other_total_purchase / other_purchase_count), 2)
other_avg_per_person = round((other_total_purchase / unique_other_players), 2)
#------------OTHER PLAYER LOGIC END------------------------------------

# Creating a DataFrame to display the Purchasing Analysis (Total)
gender_purchase_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],

                               "Purchase Count": [female_purchase_count, male_purchase_count, other_purchase_count],
                               "Average Purchase Price": ["$"+str(female_avg_purchase), "$"+str(male_avg_purchase), "$"+str(other_avg_purchase)],
                               "Total Purchase Value": ["$"+str(female_total_purchase), "$"+str(male_total_purchase), "$"+str(other_total_purchase)],    
                               "Avg Total Purchase per Person": ["$"+str(female_avg_per_person), "$"+str(male_avg_per_person), "$"+str(other_avg_per_person)]})                     
#gender_demo_df

reset_purchase_df = gender_purchase_df.set_index('Gender')
reset_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,113,$3.2,$361.94,$4.47
Female,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#creating a copy of the original dataframe purchase_df
purchase_copy_df = purchase_df.copy()

# Create bins in which to place values based upon age demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]

purchase_copy_df["Age Demographic"] = pd.cut(purchase_copy_df["Age"], bins, labels=group_labels, include_lowest=True)


#----------------Age < 10 PLAYER LOGIC-------------------------------------
player_age10_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "<10",:]

# identify unique player
unique_age10_df = player_age10_df.groupby(['SN'])
unique_age10_players = len(unique_age10_df["Purchase ID"].count())

# identify the player percentage
pct_age10_players = round((unique_age10_players / total_players) * 100,2)
#------------LOGIC END------------------------------------

#----------------10 < Age < 14 PLAYER LOGIC-------------------------------------
player_age14_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "10-14",:]

# identify unique player
unique_age14_df = player_age14_df.groupby(['SN'])
unique_age14_players = len(unique_age14_df["Purchase ID"].count())

# identify the player percentage
pct_age14_players = round((unique_age14_players / total_players) * 100,2)
#------------LOGIC END------------------------------------

#----------------15 < Age < 19 PLAYER LOGIC-------------------------------------
player_age19_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "15-19",:]

# identify unique player
unique_age19_df = player_age19_df.groupby(['SN'])
unique_age19_players = len(unique_age19_df["Purchase ID"].count())

# identify the player percentage
pct_age19_players = round((unique_age19_players / total_players) * 100,2)
#------------LOGIC END------------------------------------

#----------------20 < Age < 24 PLAYER LOGIC-------------------------------------
player_age24_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "20-24",:]

# identify unique player
unique_age24_df = player_age24_df.groupby(['SN'])
unique_age24_players = len(unique_age24_df["Purchase ID"].count())

# identify the player percentage
pct_age24_players = round((unique_age24_players / total_players) * 100,2)
#------------LOGIC END------------------------------------

#----------------25 < Age < 29 PLAYER LOGIC-------------------------------------
player_age29_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "25-29",:]

# identify unique player
unique_age29_df = player_age29_df.groupby(['SN'])
unique_age29_players = len(unique_age29_df["Purchase ID"].count())

# identify the player percentage
pct_age29_players = round((unique_age29_players / total_players) * 100,2)
#------------LOGIC END------------------------------------

#----------------30 < Age < 34 PLAYER LOGIC-------------------------------------
player_age34_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "30-34",:]

# identify unique player
unique_age34_df = player_age34_df.groupby(['SN'])
unique_age34_players = len(unique_age34_df["Purchase ID"].count())

# identify the player percentage
pct_age34_players = round((unique_age34_players / total_players) * 100,2)
#------------LOGIC END------------------------------------

#----------------35 < Age < 39 PLAYER LOGIC-------------------------------------
player_age39_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "35-39",:]

# identify unique player
unique_age39_df = player_age39_df.groupby(['SN'])
unique_age39_players = len(unique_age39_df["Purchase ID"].count())

# identify the player percentage
pct_age39_players = round((unique_age39_players / total_players) * 100,2)
#------------LOGIC END------------------------------------

#----------------Age >= 40 PLAYER LOGIC-------------------------------------
player_age40_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "40+",:]

# identify unique player
unique_age40_df = player_age40_df.groupby(['SN'])
unique_age40_players = len(unique_age40_df["Purchase ID"].count())

# identify theplayer percentage
pct_age40_players = round((unique_age40_players / total_players) * 100,2)
#------------LOGIC END------------------------------------

# Creating a DataFrame to display the Purchasing Analysis (Total)
age_demo_df = pd.DataFrame({"Age Demographic": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                               "Total Count": [unique_age10_players, unique_age14_players, unique_age19_players, unique_age24_players, unique_age29_players, unique_age34_players, unique_age39_players, unique_age40_players],
                               "Percentage of Players": [str(pct_age10_players) +"%", str(pct_age14_players) +"%", str(pct_age19_players) +"%", str(pct_age24_players) +"%", str(pct_age29_players) +"%", str(pct_age34_players) +"%", str(pct_age39_players) +"%", str(pct_age40_players) +"%"]})                     

reset_agedemo_df = age_demo_df.set_index('Age Demographic')
reset_agedemo_df

                 Total Count Percentage of Players
Age Demographic
<10                       17                 2.95%
10-14                     22                 3.82%
15-19                    107                18.58%
20-24                    258                44.79%
25-29                     77                13.37%
30-34                     52                 9.03%
35-39                     31                 5.38%
40+                       12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#----------------Age < 10 PLAYER LOGIC-------------------------------------
# logic for Total Purchase count
purchase_age10_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "<10",:]
age10_purchase_df = purchase_age10_df.groupby(['Purchase ID'])
age10_purchase_count = len(age10_purchase_df["SN"].count())

# logic for Total purchase in dollar
tot_purchase_age10_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "<10",:]
total_purchase_age10 = round(tot_purchase_age10_df["Price"].sum(),2)

# logic to identify average purchase price and average purchase per person
age10_avg_purchase = round((total_purchase_age10 / age10_purchase_count), 2)
age10_avg_per_person = round((total_purchase_age10 / unique_age10_players), 2)

#------------LOGIC END------------------------------------

#----------------10 < Age < 14 PLAYER LOGIC-------------------------------------
# logic for Total Purchase count
purchase_age14_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "10-14",:]
age14_purchase_df = purchase_age14_df.groupby(['Purchase ID'])
age14_purchase_count = len(age14_purchase_df["SN"].count())

# logic for Total purchase in dollar
tot_purchase_age14_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "10-14",:]
total_purchase_age14 = round(tot_purchase_age14_df["Price"].sum(),2)

# logic to identify average purchase price and average purchase per person
age14_avg_purchase = round((total_purchase_age14 / age14_purchase_count), 2)
age14_avg_per_person = round((total_purchase_age14 / unique_age14_players), 2)

#----------------------------------LOGIC END------------------------------------

#----------------15 < Age < 19 PLAYER LOGIC-------------------------------------
# logic for Total Purchase count
purchase_age19_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "15-19",:]
age19_purchase_df = purchase_age19_df.groupby(['Purchase ID'])
age19_purchase_count = len(age19_purchase_df["SN"].count())

# logic for Total purchase in dollar
tot_purchase_age19_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "15-19",:]
total_purchase_age19 = round(tot_purchase_age19_df["Price"].sum(),2)

# logic to identify average purchase price and average purchase per person
age19_avg_purchase = round((total_purchase_age19 / age19_purchase_count), 2)
age19_avg_per_person = round((total_purchase_age19 / unique_age19_players), 2)

#----------------------------------LOGIC END------------------------------------

#----------------20 < Age < 24 PLAYER LOGIC-------------------------------------
# logic for Total Purchase count
purchase_age24_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "20-24",:]
age24_purchase_df = purchase_age24_df.groupby(['Purchase ID'])
age24_purchase_count = len(age24_purchase_df["SN"].count())

# logic for Total purchase in dollar
tot_purchase_age24_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "20-24",:]
total_purchase_age24 = round(tot_purchase_age24_df["Price"].sum(),2)

# logic to identify average purchase price and average purchase per person
age24_avg_purchase = round((total_purchase_age24 / age24_purchase_count), 2)
age24_avg_per_person = round((total_purchase_age24 / unique_age24_players), 2)

#----------------------------------LOGIC END------------------------------------

#----------------25 < Age < 29 PLAYER LOGIC-------------------------------------
# logic for Total Purchase count
purchase_age29_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "25-29",:]
age29_purchase_df = purchase_age29_df.groupby(['Purchase ID'])
age29_purchase_count = len(age29_purchase_df["SN"].count())

# logic for Total purchase in dollar
tot_purchase_age29_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "25-29",:]
total_purchase_age29 = round(tot_purchase_age29_df["Price"].sum(),2)

# logic to identify average purchase price and average purchase per person
age29_avg_purchase = round((total_purchase_age29 / age29_purchase_count), 2)
age29_avg_per_person = round((total_purchase_age29 / unique_age29_players), 2)

#----------------------------------LOGIC END------------------------------------

#----------------30 < Age < 34 PLAYER LOGIC-------------------------------------
# logic for Total Purchase count
purchase_age34_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "30-34",:]
age34_purchase_df = purchase_age34_df.groupby(['Purchase ID'])
age34_purchase_count = len(age34_purchase_df["SN"].count())

# logic for Total purchase in dollar
tot_purchase_age34_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "30-34",:]
total_purchase_age34 = round(tot_purchase_age34_df["Price"].sum(),2)

# logic to identify average purchase price and average purchase per person
age34_avg_purchase = round((total_purchase_age34 / age34_purchase_count), 2)
age34_avg_per_person = round((total_purchase_age34 / unique_age34_players), 2)

#----------------------------------LOGIC END------------------------------------

#----------------35 < Age < 39 PLAYER LOGIC-------------------------------------
# logic for Total Purchase count
purchase_age39_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "35-39",:]
age39_purchase_df = purchase_age39_df.groupby(['Purchase ID'])
age39_purchase_count = len(age39_purchase_df["SN"].count())

# logic for Total purchase in dollar
tot_purchase_age39_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "35-39",:]
total_purchase_age39 = round(tot_purchase_age39_df["Price"].sum(),2)

# logic to identify average purchase price and average purchase per person
age39_avg_purchase = round((total_purchase_age39 / age39_purchase_count), 2)
age39_avg_per_person = round((total_purchase_age39 / unique_age39_players), 2)

#----------------------------------LOGIC END------------------------------------

#----------------Age >= 40 PLAYER LOGIC-------------------------------------
# logic for Total Purchase count
purchase_age40_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "40+",:]
age40_purchase_df = purchase_age40_df.groupby(['Purchase ID'])
age40_purchase_count = len(age40_purchase_df["SN"].count())

# logic for Total purchase in dollar
tot_purchase_age40_df = purchase_copy_df.loc[purchase_copy_df["Age Demographic"] == "40+",:]
total_purchase_age40 = round(tot_purchase_age40_df["Price"].sum(),2)

# logic to identify average purchase price and average purchase per person
age40_avg_purchase = round((total_purchase_age40 / age40_purchase_count), 2)
age40_avg_per_person = round((total_purchase_age40 / unique_age40_players), 2)

#----------------------------------LOGIC END------------------------------------

# Creating a DataFrame to display the Purchasing Analysis (Total)
age_purchase_df = pd.DataFrame({"Age Demographic": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                                "Purchase Count": [age10_purchase_count, age14_purchase_count, age19_purchase_count, age24_purchase_count, age29_purchase_count, age34_purchase_count, age39_purchase_count, age40_purchase_count],
                                "Average Purchase Price": ["$"+str(age10_avg_purchase), "$"+str(age14_avg_purchase), "$"+str(age19_avg_purchase), "$"+str(age24_avg_purchase), "$"+str(age29_avg_purchase), "$"+str(age34_avg_purchase), "$"+str(age39_avg_purchase), "$"+str(age40_avg_purchase)],
                                "Total Purchase Value": ["$"+str(total_purchase_age10), "$"+str(total_purchase_age14), "$"+str(total_purchase_age19), "$"+str(total_purchase_age24), "$"+str(total_purchase_age29), "$"+str(total_purchase_age34), "$"+str(total_purchase_age39), "$"+str(total_purchase_age40)],
                                "Avg Total Purchase per Person": ["$"+str(age10_avg_per_person), "$"+str(age14_avg_per_person), "$"+str(age19_avg_per_person), "$"+str(age24_avg_per_person), "$"+str(age29_avg_per_person), "$"+str(age34_avg_per_person), "$"+str(age39_avg_per_person), "$"+str(age40_avg_per_person)]})                     

reset_agepurchase_df = age_purchase_df.set_index('Age Demographic')
reset_agepurchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Demographic,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
top_purchase_df = purchase_df[["SN", "Purchase ID", "Price"]]
top_purchase_df.head()

purchase_groupby_df = top_purchase_df.groupby(["SN"])
total_sn_df = purchase_groupby_df["Price"].sum()
total_sn_sorted_df = total_sn_df.sort_values(ascending = False)
total_sn_sorted_df

purchase_count_df = purchase_groupby_df["Purchase ID"].count()
sorted_count_df = purchase_count_df.sort_values(ascending = False)
sorted_count_df

merged_top_spender_df = pd.merge(sorted_count_df, total_sn_sorted_df,  on = "SN")

sorted_merged_spender_df = merged_top_spender_df.sort_values(["Price"], ascending = False)


sorted_merged_spender_df["Average Purchase Price"] = round((sorted_merged_spender_df["Price"] / sorted_merged_spender_df["Purchase ID"]), 2)

sorted_merged_spender2_df = sorted_merged_spender_df[["Purchase ID","Average Purchase Price","Price"]] 

renamed_spender2_df = sorted_merged_spender2_df.rename(columns={"Purchase ID":"Purchase Count","Price":"Total Purchase Value"})
renamed_spender2_df["Average Purchase Price"] = renamed_spender2_df["Average Purchase Price"].map("${:.2f}".format)
renamed_spender2_df["Total Purchase Value"] = renamed_spender2_df["Total Purchase Value"].map("${:.2f}".format)
renamed_spender2_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
popular_df = purchase_df[["Item ID", "Item Name", "Price", "Purchase ID"]]

popular_groupby_df = popular_df.groupby(["Item ID","Item Name"])
total_item_df = popular_groupby_df["Price"].sum()
sorted_itemvalue_df = total_item_df.sort_values(ascending = False)

item_count_df = popular_groupby_df["Purchase ID"].count()
sorted_itemcount_df = item_count_df.sort_values(ascending = False)

merged_popular_df = pd.merge(sorted_itemvalue_df, sorted_itemcount_df, on = ["Item ID","Item Name"])

sorted_merged_popular_df = merged_popular_df.sort_values(["Purchase ID", "Item ID"], ascending = False)
sorted_merged_popular_df["Item Price"] = (sorted_merged_popular_df["Price"] / sorted_merged_popular_df["Purchase ID"])

sorted_merged_popular2_df = sorted_merged_popular_df[["Purchase ID","Item Price","Price"]] 

renamed_popular2_df = sorted_merged_popular2_df.rename(columns={"Purchase ID":"Purchase Count","Price":"Total Purchase Value"})

renamed_popular2_df["Item Price"] = renamed_popular2_df["Item Price"].map("${:.2f}".format)
renamed_popular2_df["Total Purchase Value"] = renamed_popular2_df["Total Purchase Value"].map("${:.2f}".format)

renamed_popular2_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# i did not want to repeat the entire code snippet below hence i tried to create the new DataFrame from renamed_popular2_df, but 
# for some strange reason all the value were calculating incorrectly. I am not sure why. Following is the code snippet i
# used earlier 
# sorted_merged_profit_df = renamed_popular2_df.sort_values(["Total Purchase Value"], ascending = False)

sorted_merged_profit_df = merged_popular_df.sort_values(["Price"], ascending = False)

sorted_merged_profit_df["Item Price"] = (sorted_merged_profit_df["Price"] / sorted_merged_profit_df["Purchase ID"])

sorted_merged_profit2_df = sorted_merged_profit_df[["Purchase ID","Item Price","Price"]] 

renamed_profit2_df = sorted_merged_profit2_df.rename(columns={"Purchase ID":"Purchase Count","Price":"Total Purchase Value"})

renamed_profit2_df["Item Price"] = renamed_profit2_df["Item Price"].map("${:.2f}".format)
renamed_profit2_df["Total Purchase Value"] = renamed_profit2_df["Total Purchase Value"].map("${:.2f}".format)

renamed_profit2_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80